<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #app {
            text-align: center;
        }

        .active {
            background-color: chartreuse;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <h2>{{ data }}</h2>
            <input type="text" v-model="data">


            <h2>{{ kelas }}</h2>
            <div>
                <label><input type="checkbox" value="React" v-model='kelas'>React</label>
                <label><input type="checkbox" value="Vuejs" v-model='kelas'>Vuejs</label>
                <label><input type="checkbox" value="Angular" v-model='kelas'>Angular</label>
            </div>

            <ul>
                <li v-for="(k , index) of kelas">
                    <h2>{{ index+1 }} : {{ k }}</h2>
                </li>
            </ul>

            <ul>
                <li v-for="x in 5">{{ x }}</li>
            </ul>


        </header>


        <footer id="footer">
        </footer>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- Inisiasi Object -->
    <script>

        const isi = {
            'data': 'coba',
            'kelas': ['PHP', 'JAVA', 'Python'],
        }
        const vm = new Vue({
            el: '#app',
            data: isi,
            // membuat metod
            methods: {
            },
            computed: {
            }
        })
    </script>
</body>

</html>