<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="app">
        <nav>
            <div  class="card">

                <router-link to="/" class="btn"> Home </router-link>
                <router-link to="/about" class="btn"> About </router-link>
                <router-link to="/kelas" class="btn" > Kelas </router-link>

            </div>
        </nav>

        <main class="card"> 
            <router-view title="Daftar Kelas :" v-bind:kelas="kelas" v-on:hapuskelas="hapuskelas($event)"></router-view>
        </main>
        
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>
    <script>
        // Komponent
            const Home = {template: `<div>Home</div>`}
            const About = {template: `<div>About</div>`}
            const Kelas = {
                props: ['title','kelas', 'kelasbaru'],
                template: `
                <div>
                    <input type="text" class="input-text" placeholder=" Input Kelas" v-on:keyup.enter="submit" v-model="kelasbaru">
                    <h3>{{ title }}</h3>
                    <ul >
                        <template v-if="kelas.length >= 1">
                            <li v-for="(k, index) in kelas" :key="index">
                                <h4 v-text="k.judul"></h4>
                                <a href="" v-on:click.prevent="$emit('hapuskelas',k.id)">Hapus</a>
                            </li>
                        </template>
                        <li v-else>Kelas kosong</li>
                    </ul>
                <div>`,
                methods: {
                submit: function () {
                    this.kelas.unshift(this.kelasbaru)
                    this.kelasbaru = ''
                }
            }
            }
        // akhri komponent

        // untuk rute halaman
        const routes = [
            {path: '/', component: Home},
            {path: '/about', component: About},
            {path: '/kelas', component: Kelas},
        ]

        const router = new VueRouter({
            mode: 'history',
            routes
        })


        const isi = {
            
            kelas: [
                {id: 1, judul: 'Vuejs', deskrpisi: 'The Progressive JavaScript Framework', gambar: 'https://vuejs.org/images/logo.svg'},
                {id: 2, judul: 'Reactjs', deskrpisi: 'A JavaScript libary for building user interfaces', gambar: 'https://vuejs.org/images/logo.svg'},
            ],
            // kelasbaru: [],
        }
        const vm = new Vue({
            el: '#app',
            router,
            // pemangilan komponenet lokal 
            component: {
                'home': Home,
                'about': About,
                'kelas': Kelas,
            },
            data: isi,
            // membuat metod
            methods: {
                hapuskelas1: function(e) {
                    // data kelas yang dimana mempunyai index yang di pilih lalu hapus 1 data
                    this.kelas.splice(e, 1)
                },
                hapuskelas: function(id) {
                    this.kelas = this.kelas.filter(k => k.id != id)
                }
            },
            computed: {
            }
        })
    </script>
</body>
</html>